alias nano="code"
alias hosts="sudo nano /etc/hosts"
alias irssi="ssh -t ajk@rihma.ajk.fi screen -rd"

# Ruby
alias mm="middleman"
alias fs="foreman start"
alias be="bundle exec"

# Rails
alias rt="RAILS_ENV=test rake test"
alias mig="rake db:migrate"

# Heroku
alias h="heroku"
alias hp="git push heroku"
alias ho="heroku open"
alias hc="heroku run console"

# Docker
alias d="docker"
alias dc="docker-compose"
alias dcr="docker-compose run --rm"
alias dclogf="docker-compose logs --tail=5 -f"
